/* layout */

* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  color: #111;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* border: 1px solid red; */
}

main {
  flex-grow: 1;
  background-color: aliceblue;
}

header,
footer {
  background-color: darkslategrey;
  color: white;
}

header {
  padding: 2em 0;
}

.header-container {
  /* border: 1px solid red; */
}

footer {
  padding: 1em 0;
}

.footer-container {
  /* border: 1px solid red; */
}

.main-container {
  padding: 2em 0;
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  /* border: 1px solid red; */
}

/* home page */

.add-form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: flex-start;
  width: 300px;
  margin: 2em auto;
}

/* outfit cards */

.owner-filter-select {
  margin: 2em 0 3em 0;
}

.outfits-container,
.admin-outfits-container {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.outfit-card,
.admin-card {
  text-align: left;
  padding: 1em 0;
  border-bottom: 1px solid #ccc;
  width: 275px;
}

.outfit-card:last-child,
.admin-card:last-child {
  border-bottom: none;
}

/* admin outfit cards */

.edit-form-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 275px;
  height: 350px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  background-color: rgba(200, 200, 200, 0.9);
  padding: 1.5em 0.5em;
  border-radius: 5px;
  /* border: 1px solid red; */
  align-items: flex-end;
}

.edit-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* border: 1px solid red; */
  flex-grow: 1;
}

/* typography */

header h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

footer h5 {
  font-size: 1rem;
  font-weight: bold;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1em;
}

.admin-outfit-h3,
.outfit-by-id-h3 {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.outfit-page-h3 {
  font-size: 1.25rem;
  font-weight: bold;
}

.outfit-by-id-container {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* buttons and links */

.admin-button {
  margin-bottom: 1em;
}

.admin-form-close-btn {
  width: 100px;
  margin: 0 0 1em 0;
}

.back-button {
  margin: 1em 0 2em 0;
}

.hire-button {
  margin-top: 2em;
}

.user-submit-btn {
  margin: 0 auto;
}

nav a {
  text-decoration: none;
  color: white;
}

nav li {
  margin-top: 0.5em;
}

a.link-to-outfit {
  color: #111;
  text-decoration: none;
}

a.link-to-outfit:hover {
  color: #555;
  text-decoration: underline;
}
